*.elf
*.PBP
*.SFO
*.prx
dc/
opk/gnp
src/*.o
src/include/*.o
bittboy
bittboy/*
game_data/*
gnp
gnp.exe
*.ipk
*.opk
*.o
*.gcda
.finf
.rsrc
f/
*.txt
*.ad
*.APPL
*.bin
*.dsk
*.pef
*.xcoff
check.sh
*.opk
*.BIN
*.bin
*.raw
*.mds
*.mdf
*.CDI
*.cdi
*.img
cd/*.BIN
*.opk
*.wasm
*.html
*.js
*.data
IP.BIN
*.iso
